<%- include ../partials/header.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= item._id %>"
                    >
                    <label for="itemTextField">Survey Name</label>
                    <input type="text" class="form-control"
                        id="itemTextField"
                        placeholder="Enter the Item Name"
                        name="item" 
                        value="<%= item.item %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="QtyTextField">No. of questions</label>
                    <input type="number" class="form-control"
                    id="QtyTextField"
                    placeholder="00"
                    name="qty" 
                    value="<%= item.qty %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="statusTextField">Description</label>
                    <input type="text" class="form-control"
                    id="statusTextField"
                    placeholder="Enter a status"
                    name="status" 
                    value="<%= item.status %>"
                    >
                </div>
               
                <br/>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/survey/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

            </form>
        </div>

    </div>
</div>

<%- include ../partials/footer.ejs %>