<%- include ../partials/header.ejs %>

    <!-- <%= SurveyList %> -->
<!-- <div style="background-image:url('/images/img9.png'); height: 1000px;;"> -->
  <!-- Main Content -->
  <main class="container" >
    <div class="row">
        <h1><%= title %></h1>
        <br>
        <div>
            <br>
            <a href="/survey/add" class="btn btn-primary align-self-end" role="button">
                <i class="fas fa-plus-circle"></i> 
                Add a new Survey
            </a> 
        </div>

        <div class="table-responsive">
            <br>          
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr>
                    <th class="text-center">Survey Name</th>
                    <th class="text-center">Number of questions</th>
                    <th class="text-center">Description</th>
                    <th class="text-center" colspan="2">Actions</th>
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < SurveyList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= SurveyList[count].item %></td>
                        <td class="text-center"><%= SurveyList[count].qty %></td>
                        <td class="text-center"><%= SurveyList[count].status %></td>
                        
                        <td class="text-center">
                            <a href="/survey/edit/<%= SurveyList[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="/survey/delete/<%= SurveyList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    
                <% } %>

            </table>
        </div>
    </div>
  </main>

<%- include ../partials/footer.ejs %>